<div class="sh-container">
    <mat-icon class="icon-color icon-size">keyboard_backspace</mat-icon>
    <mat-form-field appearance="fill" class="search-box">
        <input class="matInput" placeholder="Search" matInput (keyDown.enter)="searchAction()" type="text" [(ngModel)]="searchTerm">
        <button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm=''">
            <mat-icon class="icon-color" >cancel</mat-icon>
        </button>
        <button *ngIf="searchTerm" class="search-btn-icon" matSuffix mat-icon-button aria-label="Search" (click)="searchAction()">
            <mat-icon class="icon-color" color="primary" >search</mat-icon>
        </button>
    </mat-form-field>
    <mat-icon class="icon-color icon-size" >grid_view</mat-icon>
    <mat-icon [matBadge]="totalCartCount" matBadgeColor="warn" class="icon-color icon-size" >local_mall</mat-icon>
    <mat-icon class="icon-color icon-size" fontIcon="home"></mat-icon>
</div>