.product-card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.product_title {
    font-size: 18px;
    -webkit-box-orient: vertical;
    word-break: break-word;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_offerP {
    color: darkorange;
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}

.product_originalP {
    color: #999;
    text-decoration: line-through;
}

.product_offerRate {
    text-align: center;
    color: tomato;
    font-weight: bold;
    padding: 2px 4px;
    background-color: pink;
    border-radius: 8px;
    margin-left: 5px;
}

.product_btn {
    width: 100%;
    background-color: #0aa2d8;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 8px;
    font-size: 16px;
}

.product_merchant {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.product_merchant img {
    width: 16px;
    height: 16px;
}

.product_merchant_location {
    margin-left: 5px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_rating_section {
    margin: 10px 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_review_count {
    color: gray;
    margin: 0 5px;
}

.product_review_soldRangeCount {
    border-left: 1px solid lightgray;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.star-icon {
    color: darkorange;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.mat-action-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (min-width: 769px) {
    .product-card {
        max-width: 300px;
    }
}


@media screen and (max-width: 424px) {
    .product-card {
        font-size: 12px;
    }

    .product_originalP, .product_offerRate {
        font-size: 12px;
    }

    .product_title, .product_offerP, .product_btn {
        font-size: 14px;
    }
    .product_rating_section {
        font-size: 10px;
    }
}

@media screen and (max-width: 374px) {
    .product-card {
        margin: 5px;
    }


}