<mat-card class="product-card" *ngIf="productItem">
    <app-product-image-carousel [productImages]="productItem.images" ></app-product-image-carousel>
    <mat-card-content>
      <div class="product_title">{{productItem.title}}</div>
      <div class="product_offerP">{{productItem.offerPrice}}</div>
      <span *ngIf="productItem.originalPrice && productItem.offerRate > 0">
          <span class="product_originalP">{{productItem.originalPrice}}</span>
          <span class="product_offerRate">{{productItem.offerRate}}%</span>
      </span>
      <div class="product_merchant">
        <img *ngIf="productItem.badgeUrl !== 'None'" src="{{productItem.badgeUrl}}" alt="Product image">
        <div class="product_merchant_location">{{productItem.location}} 
          <span *ngIf="productItem.numLocations > 0">& {{productItem.numLocations}} kota lainnya</span>
        </div>
      </div>
      <div *ngIf="productItem.review && productItem.review.count > 0" class="product_rating_section">
          <mat-icon class="star-icon" >star</mat-icon>
          <div>{{productItem.review.absoluteRating}} </div>
          <div class="product_review_count">({{productItem.review.count}})</div>
          <div class="product_review_soldRangeCount" *ngIf="productItem.soldRangeCount">
            Terjual {{productItem.soldRangeCount.id}}
          </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="mat-action-container">
      <button class="product_btn" mat-flat-button (click)="addToCrt()">Tambah ke Bag</button>
    </mat-card-actions>
  </mat-card>